/* Effects */

@keyframes moveBackground {
  0% {
    background-size: 100%;
    background-position: 0%;
  }
  100% {
    background-size: 300%;
    background-position: 30% 50%;
  }
}

@keyframes switchColors {
  0% {
    color: #ee7b30;
  }
  25% {
    color: #f7accf;
  }
  50% {
    color: #8661c1;
  }
  75% {
    color: #256eff;
  }
  100% {
    color: #2fd141;
  }
}

@keyframes switchColors2 {
  0% {
    color: #baf2d8;
  }
  25% {
    color: #ffb140;
  }
  50% {
    color: #9792e3;
  }
  75% {
    color: #c33c54;
  }
  100% {
    color: #e85f5c;
  }
}

@keyframes switchOutlineColor {
  0% {
    outline: 0.1em solid #baf2d8;
  }
  25% {
    outline: 0.5em solid #ffb140;
  }
  50% {
    outline: 0.1em solid #9792e3;
  }
  75% {
    outline: 0.5em solid #c33c54;
  }
  100% {
    outline: 0.1em solid #e85f5c;
  }
}

@keyframes switchOutlineColor2 {
  0% {
    outline: 0.1em solid #baf2d8;
  }
  25% {
    outline: 0.1em solid #ffb140;
  }
  50% {
    outline: 0.1em solid #9792e3;
  }
  75% {
    outline: 0.1em solid #c33c54;
  }
  100% {
    outline: 0.1em solid #e85f5c;
  }
}

@keyframes switchBackgroundColor {
  0% {
    background-color: #ee7b30;
  }
  25% {
    background-color: #f7accf;
  }
  50% {
    background-color: #8661c1;
  }
  75% {
    background-color: #256eff;
  }
  100% {
    background-color: #2fd141;
  }
}
@keyframes switchBackgroundColor2 {
  0% {
    background-color: #baf2d8;
  }
  25% {
    background-color: #ffb140;
  }
  50% {
    background-color: #9792e3;
  }
  75% {
    background-color: #c33c54;
  }
  100% {
    background-color: #e85f5c;
  }
}

@keyframes switchFillColor {
  0% {
    fill: #ffa630;
  }
  25% {
    fill: #ff6b6b;
  }
  50% {
    fill: #de1a1a;
  }
  75% {
    fill: #6369d1;
  }
  100% {
    fill: #60e1e0;
  }
}

@keyframes switchFillColor2 {
  0% {
    fill: #baf2d8;
  }
  25% {
    fill: #ffb140;
  }
  50% {
    fill: #9792e3;
  }
  75% {
    fill: #c33c54;
  }
  100% {
    fill: #e85f5c;
  }
}

@keyframes float {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes parcialRotation {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(20deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  75% {
    transform: rotateY(-20deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes rotationRight {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hueRotate {
  0% {
    filter: hue-rotate(0) brightness(1) saturate(100%) contrast(100%);
  }
  100% {
    filter: hue-rotate(5deg) brightness(1.1) saturate(110%) contrast(120%);
  }
}

@keyframes boxShadowSwitchColors {
  0% {
    box-shadow: 1em 1em 5em 1em var(--black), 0em -2em 5em 1em rgb(120, 1, 255);
    filter: brightness(120%);
  }
  25% {
    box-shadow: 1em 1em 5em 1em var(--black), 2em 0em 5em 1em rgb(255, 0, 221);
    filter: brightness(150%);
  }
  50% {
    box-shadow: 1em 1em 5em 1em var(--black), 0em 2em 5em 1em rgb(120, 1, 255);
    filter: brightness(120%);
  }
  75% {
    box-shadow: 1em 1em 5em 1em var(--black), -2em 0em 5em 1em rgb(255, 0, 221);
    filter: brightness(150%);
  }
  100% {
    box-shadow: 1em 1em 5em 1em var(--black), 0em -2em 5em 1em rgb(120, 1, 255);
    filter: brightness(120%);
    /* 0em 0em 1em 1em var(--macos-white);*/
  }
}

@keyframes zIndexChange {
  0% {
    z-index: -20;
  }
  50% {
    z-index: 30;
  }
  100% {
    z-index: 0;
  }
}

@keyframes rotationLeft {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotationY {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(-360deg);
  }
}

@keyframes rotationYReverse {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes popModal {
  0% {
    transform: scale(0) translateY(500px);
    opacity: 0;
  }

  100% {
    transform: scale(1) translateY(0);
    opacity: 100;
  }
}
@keyframes bolderFont {
  0% {
    font-weight: 100;
  }
  50% {
    font-weight: 300;
  }

  100% {
    font-weight: bolder;
  }
}
