
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100&family=Kanit:wght@800&family=Nunito:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
:root {
  --macos-gray: #242633;
  --macos-gray-rgb: rgba(36, 38, 51, 0.6);
  --macos-white-rgb: rgba(255, 255, 255, 0.6);
  --macos-white: rgb(255, 242, 242);
  --blue: #005ff9;
  --pink: #f48be2;
  --black: #000;
  --yellow: #fccf05;
  --navBarIconSize: 50px;
  --macos-font: "Roboto", sans-serif;
  --mono-font: "Cutive Mono", monospace;
  --josefin-font: "Josefin Sans", sans-serif;
  --kanit-font : 'Kanit', sans-serif;
  --macos-red: #ff4e4e;
  --macos-grey: #00cb1c;
  --macos-dark-green: #165e5c;
  --macos-violet: #7254b9;
  --header-icon-font : 'Nunito', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.window.macOS {
  background-image: url("../assets/img/macOS_background_light.jpeg");
  background-size: cover;
  position: relative;
}

.macOS .mainNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.macOS .navBarItemContainer {
  min-width: 250px;
  justify-content: center;
  flex-flow: row nowrap;
  background-color: rgba(223, 208, 208, 0.5);
  backdrop-filter: blur(500px);
  border-radius: 1em;
  padding: 0.5em;
  display: flex;
  transition: all 0.4s 0.05s;
  overflow-x: scroll;
}

.macOS .mainNavBar:hover .navBarItemContainer {
  transform: translateY(0.2em);
  transition: all 0.4s 0.05s;
}

.macOS .mainNavBarFile {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s;
  text-align: center;
  flex: 1 1 var(--navBarIconSize);
  align-items: center;
  max-height: var(--navBarIconSize);
  max-width: var(--navBarIconSize);

  margin: 0 0.5em;
}

.macOS .navBarFileInfo {
  opacity: 0;
  font-size: 0;
  background-color: var(--macos-gray-rgb);
  color: var(--macos-white);
  text-align: center;
  transform: translateY(20px);
  border-radius: 0.2em;
  z-index: 10;
}

.macOS .mainNavBarFile i {
  font-size: 2em;
  padding: 0.2em;
  border-radius: 0.2em;
  border-radius: 0.2em;
  display: flex;
  justify-content: center;
  width: var(--navBarIconSize);
}

.macOS .knowledge i {
  color: var(--pink);
  background-color: var(--macos-white);
}

.macOS .softSkills i {
  background-color: var(--black);
  color: var(--yellow);
  filter: saturate(90%);
  border-radius: 50%;
}

.macOS .certificates i {
  color: var(--macos-white);
  background-color: var(--blue);
}

.macOS .experience i {
  color: var(--macos-white);
  background: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  background-image: url("../assets/img/giphy.webp");
  background-size: cover;
  background-position: -200% 0%;
}

.macOS .experience:hover i {
  background-size: 200%;
  background-position: 50% 50%;
  animation: moveBackground 5s 0s ease-in-out infinite alternate both;
}

.macOS .about i {
  background-color: var(--black);
  color: var(--macos-white);
}

.macOS .mainNavBarFile.about:hover i {
  background-color: var(--macos-white);
  animation: switchColors 2s 0s linear infinite alternate both;
}

.macOS .auxNavBar {
  display: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0.3em;
  background-color: rgba(131, 122, 122, 0.8);
}

.macOS .auxNavBar i {
  font-size: 1em;
  width: 2em;
  display: flex;
  justify-content: center;
  color: var(--macos-white);
  margin: 0 0.3em;
}

.macOS .auxNavBar .fa-apple {
  margin: 0 auto 0 0;
  font-size: 1.2em;
}

.macOS .auxNavBar .datetime {
  margin-right: 1em;
}

.macOS .auxNavBar figure {
  max-width: 20px;
  display: flex;
  margin: 0 0.5em;
}
.macOS .auxNavBar figure img {
  width: 100%;
}

.macOS .auxNavBar .datetime {
  color: var(--macos-white);
  font-size: 0.9em;
  font-family: var(--macos-font);
}

.macOS .modalContainer {
  flex: 5 1 70vh;
  max-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.macOS .modalContainer .modal {
  flex: 1 1 300px;
  height: 100%;
  border-radius: 1em;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--macos-gray);
  overflow: hidden;
}

.macOS .modalContainer .modal .modal-header {
  background-color: rgba(131, 122, 122, 0.4);
  padding: 1em;
  display: flex;
}

.macOS .modalContainer .modal .modal-icon {
  height: .8em;
  width: .8em;
  margin: 0 0.2em;
  border-radius: 50%;
  font-family: var(--header-icon-font);
  display: flex;
  
}

.macOS .modalContainer .modal .modal-icon span {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8em;
  font-weight: bolder;
  opacity: 0;
  cursor: pointer;
}

.macOS .modalContainer .modal .modal-icon:hover {
  filter: saturate(90%);
}

.macOS .modalContainer .modal .modal-icon:hover span{
  opacity: 100;
}

.macOS .modalContainer .modal .modal-icon.close {
  background-color: var(--macos-red);
  color: #980100;
}

.macOS .modalContainer .modal .modal-icon.minimize {
  background-color: var(--yellow);
  color: #995501;
}
.macOS .modalContainer .modal .modal-icon.expand {
  background-color: var(--macos-grey);
}

.macOS .modalContainer .modal .fullScreen{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh !important;
  max-width: 100% !important;
  border-radius: 0 !important;
  z-index: 30;
}

/* sections */

.macOS article.knowledge {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: hidden;
}


.macOS article.knowledge  {
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 300%;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  transform: translateX(0);
  scroll-behavior: smooth;
}

.macOS .knowledgeSection {
  background-color: var(--macos-white);
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  min-width: 100%;
  height: 100%;
  scroll-snap-align: center;
  position: relative;
  cursor: all-scroll;
  
}

.macOS .knowledgeSection h2 {
  margin: 0.5em 0;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--josefin-font);
  font-weight: bolder;
  color: var(--macos-gray);
  font-size: 3em;
  animation: switchColors 10s 0s linear infinite alternate both,
    float 5s 0s linear infinite alternate both;
}

.macOS .knowledgeSection:hover h2 {
  transition: all 0.08s 0s;
  transform: translateX(20%);
}

.macOS .knowledgeSection > div {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
}

.macOS .knowledgeSection .skill {
  display: flex;
  flex-flow: column nowrap;
  margin: 1em;
  flex: 1 1 30%;
  font-family: var(--josefin-font);
  font-weight: 100;
  text-align: center;
}

.macOS .knowledgeSection .skill i {
  font-size: 3em;
  background-color: transparent;
  color: var(--macos-gray);
  margin: 0.2em 0;
}

.macOS .knowledgeSection .skill i:hover {
  animation: pop 0.2s 0s ease-in-out 1 alternate both;
}

.macOS .knowledgeSection:first-of-type::before {
  content: 'Scroll down to see more';
  position: absolute;
  left: 0;
  bottom: 0.5em;
  right: 0;
  color: var(--macos-white);
  font-family: var(--josefin-font);
  font-size: 1.5em;
  text-align: center;
  transform: translateY(0);
  transition: all 0.4s 0s ease-in-out;
  max-width: 300px;
  background-color: var(--macos-gray-rgb);
  margin: 0 auto;
  border-radius: 0.2em;
  padding-top: .1em;
  
}

.macOS article.softSkills {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
}


.macOS article.softSkills > section{
  flex: 1 1 50%;
  min-width: 500px;
  position: relative;
}
.macOS article.softSkills > section h3{
  font-size: 4em;
  text-transform: uppercase;
  font-family: var(--kanit-font);
  font-weight: 800;
  letter-spacing: -1px;
  position: absolute;

}


.macOS article.softSkills > section.light{
  background-color: var(--macos-white);
  color: var(--macos-gray);
}

.macOS article.softSkills > section.dark{
  background-color: var(--macos-gray);
  color: var(--macos-white);
}

.macOS article.softSkills > section.light h3{
  bottom: -.5em;
  left: 1em;
  
}
.macOS article.softSkills > section.dark h3{
  top: -.5em;
  right: 1em;
}



.macOS article.about {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  overflow-y: scroll;
  background-color: var(--macos-white);
  -ms-overflow-style: none;  /* hide scrollbar IE and Edge */
  scrollbar-width: none;  /* hide scrollbar Firefox */
}

/* hide scrollbar */
.macOS article.about::-webkit-scrollbar {
  display: none;
}


.macOS article.about .left-side {
  flex: 1 1 250px;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--macos-gray);
}

.macOS article.about .left-side > * {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.macOS article.about .left-side .profile-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.macOS article.about .left-side .profile-img figure {
  display: flex;
  justify-content: center;
  flex: 0.6;
  border-radius: 50%;
  padding: 0.3em;
  animation: switchBackgroundColor 10s 0s linear infinite alternate both;
}

.macOS article.about .left-side .profile-img img {
  animation: float 10s 0s linear infinite alternate both;
  border-radius: 50%;
  max-width: 100%;
}

.macOS article.about .left-side .name {
  text-align: center;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.macOS article.about .left-side .name > * {
  margin: 0.5em 0;
}

.macOS article.about .left-side .name h1 {
  font-size: 1.5em;
  font-weight: 100;
  color: var(--macos-violet);
  font-family: var(--josefin-font);
  text-transform: uppercase;
  animation: switchColors 10s 0s linear infinite alternate both;
}

.macOS article.about .left-side .name span {
  font-weight: 500;
}

.macOS article.about .left-side .name h2 {
  animation: switchColors 10s 3s linear infinite alternate both;
  font-size: 0.8em;
  font-family: var(--josefin-font);
  text-transform: uppercase;
  font-weight: 100;
  color: var(--macos-dark-green);
  letter-spacing: 0.3em;
}

.macOS article.about .left-side .name q {
  color: var(--macos-white);
  padding: 0.3em 0;
  font-family: var(--mono-font);
  justify-content: center;
}

.macOS article.about .left-side .links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0.5em;
  flex: 1;
}
.macOS article.about .left-side .links a {
  margin: 0.5em 0;
}

.macOS article.about .left-side .links a i {
  font-size: 1.8em;
  background-color: transparent;
  margin: 0 0.4em;
}

.macOS article.about .left-side .links a i:hover {
  animation: pop 0.2s 0s ease-in-out 1 alternate both;
}

.macOS article.about .right-side {
  flex: 2 1 300px;
  background-color: var(--macos-white);
  display: flex;
  flex-flow: column nowrap;
  padding: 3em;
}

.macOS article.about .right-side > * {
  flex: 1;
  display: flex;
}

.macOS article.about .right-side > h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  color: var(--macos-gray);
  animation: switchColors 50s 0s linear infinite alternate both;
  margin-bottom: 1em;
  margin: 1em 0;
}

.macOS article.about .right-side > h3 span {
  margin: 0 0.5em;
}

.macOS article.about .right-side > p {
  font-family: var(--macos-font);
  line-height: 2em;
}

.macOS article.about .right-side > p:nth-last-child(2) {
  margin-top: 2em;
  text-align: center;
  justify-content: center;
}

.macOS article.about .right-side > p:last-of-type {
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  color: var(--macos-gray);
}

/* OPEN & CLOSE MODAL */

.macOS .modal.invisible {
  display: none;
  transform: translate(400px);
}

.visible {
  display: flex;
  transform: scale(1) translateX(0);
  animation: popModal 0.2s 0s linear 1 alternate both;
}

/* Effects */

@keyframes moveBackground {
  0% {
    background-size: 100%;
    background-position: 0%;
  }
  100% {
    background-size: 300%;
    background-position: 30% 50%;
  }
}

@keyframes switchColors {
  0% {
    color: #ee7b30;
  }
  25% {
    color: #f7accf;
  }
  50% {
    color: #8661c1;
  }
  75% {
    color: #256eff;
  }
  100% {
    color: #2fd141;
  }
}

@keyframes switchBackgroundColor {
  0% {
    background-color: #ee7b30;
  }
  25% {
    background-color: #f7accf;
  }
  50% {
    background-color: #8661c1;
  }
  75% {
    background-color: #256eff;
  }
  100% {
    background-color: #2fd141;
  }
}

@keyframes float {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes popModal {
  0% {
    transform: scale(0) translateY(500px);
    opacity: 0;
  }

  100% {
    transform: scale(1) translateY(0);
    opacity: 100;
  }
}
@keyframes bolderFont {
  0% {
    font-weight: 100;
  }
  50% {
    font-weight: 300;
  }

  100% {
    font-weight: bolder;
  }
}


/* End effects */

@media (min-width: 1000px){
  .macOS article.softSkills > section h3 {
    font-size: 6em ;
  }

  .macOS article.softSkills > section.light > h3{
    left: initial;
    right: -.05em;
    top: 0;
  }
  .macOS article.softSkills > section.dark h3{
    top: 1em ;
    left: -.1em ;
  }
}


@media (min-width: 580px) {
  .macOS .navBarItemContainer {
    /*transform: translateY(400px);*/
    overflow: visible;
  }
  .macOS .mainNavBarFile:hover {
    margin: 0 1em;
  }

  .macOS .mainNavBarFile:hover > i {
    transform: scale(1.55) translate(0, -30px);
    margin: 0 2em;
    cursor: pointer;
    transition: all 0.15s 0s ease-out;
    z-index: 20;
  }

  .macOS .mainNavBarFile:hover + .mainNavBarFile,
  .sibling {
    transform: scale(1.25) translate(0, -5px);
    margin: 0 0.5em;
    transition: all 0.2s 0.05s ease-out;
  }

  .macOS .mainNavBarFile:hover .navBarFileInfo {
    font-size: 1em;
    opacity: 100;
    transform: translateY(-4em);
    transition: all 0.2s 0.01s;
    padding: 0.1em 0.5em;
    margin: 0.4em 0;
    text-transform: capitalize;
    display: flex;
    flex-flow: row nowrap;
    white-space: nowrap;
  }

  .macOS .mainNavBarFile:hover i {
    filter: saturate(200%);
  }

  .macOS .modalContainer .modal {
    max-width: 1024px;
    height: 70vh;
  }

  .macOS article.about > * {
    max-height: 100%;
  }

  .macOS .knowledgeSection:first-of-type::before {
    transform: translateY(500px);
    transition: all 0.4s 0s ease-in-out;
    
  }
  .macOS .knowledgeSection:first-of-type:hover::before {
    transform: translateY(0);
    transition: all 0.4s 0s ease-in-out;
  }
}
