:root {
  --macos-gray: #242633;
  --macos-white: rgb(255, 242, 242);
  --navBarIconSize: 80px;
}

.window.macOS {
  background-image: url("../../assets/img/macOS_background_light.jpg");
  background-size: cover;
}

.macOS .mainNavBar {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.macOS .navBarItemContainer {
  justify-content: center;
  flex-flow: row wrap;
  background-color: rgba(223, 208, 208, 0.5);
  border-radius: 1em;
  backdrop-filter: blur(500px);
  padding: 0.5em;
  /*transform: translateY(400px);*/
  display: flex;
  transition: all 0.4s 0.1s;
}

.macOS .mainNavBar:hover .navBarItemContainer {
  transform: translateY(0);
}

.macOS .mainNavBarFile {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s;
  text-align: center;
  flex: 1;
  align-items: center;
  height: var(--navBarIconSize);
  width: var(--navBarIconSize);
}

.macOS .navBarFileInfo {
  opacity: 0;
  font-size: 0;
  background-color: var(--macos-gray);
  color: var(--macos-white);
  text-align: center;
  transform: translateY(20px);
  border-radius: 0.2em;
  z-index: 10;
}

.macOS .mainNavBarFile i {
  font-size: 3em;
}

.macOS .mainNavBarFile:hover {
  transform: scale(1.75) translate(0, -20px);
  margin: 0 1em;
  transition: all 0.3s 0s;
  cursor: pointer;
  transition: all 0.2s 0s;
}

.macOS .mainNavBarFile:hover + .mainNavBarFile,
.sibling {
  transform: scale(1.25) translate(0, -10px);
  transition: all 0.3s 0.05s;
  margin: 0 0.5em;
  transition: all 0.2s 0.05s;
}

.macOS .mainNavBarFile:hover .navBarFileInfo {
  font-size: 0.6em;
  opacity: 100;
  transform: translateY(0);
  transition: all 0.2s 0.01s;
  padding: 0.1em;
  margin: 0.4em 0;
}
